.aws-btn {

    --button-default-height: 37px;
    --button-default-font-size: 11px;
    --button-default-border-radius: 14px;
    --button-horizontal-padding: 50px;
    --button-raise-level: 10px;
    --button-hover-pressure: 4;
    --transform-speed: 0.15s;
    --button-primary-color: #f72585;
    --button-primary-color-dark: #590d2e;
    --button-primary-color-light: #eeb5ce;
    --button-primary-color-hover: #f584b5;
    --button-primary-border: none;
    --button-secondary-color: #4cc9f0;
    --button-secondary-color-dark: #153742;
    --button-secondary-color-light: #133039;
    --button-secondary-color-hover: #9ccdde;--button-secondary-border: none;
    --button-anchor-color: #0ffbff;
    --button-anchor-color-dark: #044e49;
    --button-anchor-color-light: #0d4a43;
    --button-anchor-color-hover: #7df2f0;
    --button-anchor-border: 1px solid #048386;
    }
    
    